In [1]:
import numpy as np
import pandas as pd

In [2]:
data_path = ''

sales_train = pd.read_csv(data_path + 'sales_train.csv')
shops = pd.read_csv(data_path + 'shops.csv')
items = pd.read_csv(data_path + 'items.csv')
item_categories = pd.read_csv(data_path + 'item_categories.csv')

In [3]:
train = sales_train.merge(shops, on='shop_id', how='left')
train = train.merge(items, on = 'item_id', how='left')
train = train.merge(item_categories, on='item_category_id', how='left')

In [4]:
train.dtypes

date                   object
date_block_num          int64
shop_id                 int64
item_id                 int64
item_price            float64
item_cnt_day          float64
shop_name              object
item_name              object
item_category_id        int64
item_category_name     object
dtype: object

In [8]:
train.memory_usage()

Index                 23486792
date                  23486792
date_block_num        23486792
shop_id               23486792
item_id               23486792
item_price            23486792
item_cnt_day          23486792
shop_name             23486792
item_name             23486792
item_category_id      23486792
item_category_name    23486792
dtype: int64

In [11]:
train.memory_usage().sum()

258354712

In [12]:
a= 23486792*11
a

258354712

In [17]:
start_mem = train.memory_usage().sum()/1024**2
print(start_mem , 'MB')

246.3862533569336 MB

In [48]:
df = train

In [49]:
df.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day', 'shop_name', 'item_name', 'item_category_id',
       'item_category_name'],
      dtype='object')

In [60]:
df['item_cnt_day'].dtype.name

'int16'

In [64]:
(df['date_block_num'].round() == df['date_block_num']).all()

True

In [20]:
for col in df.columns:
    dtype_name = df[col].dtype.name
    if dtype_name == 'object':
        pass
    elif dtype_name == 'bool':
        df[col]=df[col].astype('int8')
    elif dtype_name.startswith('int') or (df[col].round() == df[col]).all():
        df[col]=pd.to_numeric(df[col], downcast = 'integer')
    else:
        df[col]=pd.to_numeric(df[col], downcast='float')
        
    end_mem= df.memory_usage().sum()/1024**2

In [21]:
df.dtypes

date                   object
date_block_num           int8
shop_id                  int8
item_id                 int16
item_price            float32
item_cnt_day            int16
shop_name              object
item_name              object
item_category_id         int8
item_category_name     object
dtype: object

In [22]:
df.memory_usage()

Index                 23486792
date                  23486792
date_block_num         2935849
shop_id                2935849
item_id                5871698
item_price            11743396
item_cnt_day           5871698
shop_name             23486792
item_name             23486792
item_category_id       2935849
item_category_name    23486792
dtype: int64

In [26]:
end_mem = df.memory_usage().sum()/1024**2
end_mem

142.7920331954956

In [35]:
print("{:.1f}% 압축됨".format(100*(start_mem-end_mem)/start_mem))

42.0% 압축됨

In [89]:
# numeric test
a = [1.23, 2, 3]
b=pd.DataFrame(a)
print(b[0].dtype)
print(b[0])

float64
0    1.23
1    2.00
2    3.00
Name: 0, dtype: float64

In [84]:
b[0] = pd.to_numeric(b[0], downcast='float')
b[0].dtype

dtype('float32')

In [85]:
b[0]

0    1.23
1    2.00
2    3.00
Name: 0, dtype: float32